<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.HotelMapper">

	<insert id="insertHotel">
		insert into pro_hotel (h_name,h_class,h_star,h_people,h_country,h_address,checkin,checkout,floor,rooms,h_tel,h_fax) values
		(#{h_name},#{h_class},#{h_star},#{h_people},#{h_country},#{h_address},#{checkin},#{checkout},#{floor},#{rooms},#{h_tel},#{h_fax})
	</insert>
	
	<select id="selectHuid" resultType="int">
		SELECT MAX(h_uid) from pro_hotel
	</select>
	
	<insert id="addAttach">
		insert into file_hotel (fullName,h_uid) values (#{fullName},#{h_uid})
	</insert>
	
	<select id="listHotel" resultType="HotelVO">
	<![CDATA[
		select * from pro_hotel where h_uid > 0 and h_class=1 order by h_uid desc
	]]>
	</select>
	
	<select id="listPension" resultType="HotelVO">
	<![CDATA[
		select * from pro_hotel where h_uid > 0 and h_class=2 order by h_uid desc
	]]>
	</select>
	
	<insert id="insertSellRoom">
		insert into sell_room (h_uid,h_price,h_point,breakfast,h_room,h_name) values (#{h_uid},#{h_price},#{h_point},#{breakfast},#{h_room},#{h_name})
	</insert>
	
	<select id="hotelsellList" resultType="SellRoomVO">
		<![CDATA[
			select * from sell_room where h_uid > 0 order by h_uid asc
		]]>
	</select>

</mapper>