<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.HotelMapper">

	<insert id="insertHotel">
		insert into pro_hotel (h_name,h_class,h_star,h_people,h_country,h_address,checkin,checkout,floor,rooms,h_tel,h_fax) values
		(#{h_name},#{h_class},#{h_star},#{h_people},#{h_country},#{h_address},#{checkin},#{checkout},#{floor},#{rooms},#{h_tel},#{h_fax})
	</insert>
	
	<select id="selectHuid" resultType="int">
		SELECT MAX(h_uid) from pro_hotel
	</select>
	
	<insert id="addAttach">
		insert into file_hotel (fullName,h_uid) values (#{fullName},#{h_uid})
	</insert>
	
	<select id="listHotel" resultType="HotelVO">
		select * from pro_hotel
	</select>

</mapper>